/* Main Control areas */
.ovp-video-wrapper                { position:relative; background-color:black; width:640px; height:360px; }
.ovp-video-wrapper-fs             { position:absolute; top:0; left:0; width:100%; height:100%; background-color:black; z-index:99; }

.ovp-video-poster                 { position:relative; width:100%; height:100%; }

.ovp-video                        { position:relative; width:100%; height:100%; background-color:black; }
.ovp-video-fs                     { position:absolute; width:100%; height:100%; background-color:black; z-index:99; }

.ovp-controls                     { left:0px; bottom:0px; z-index:1000; height:40px; min-height:40px; width:640px; min-width:640px;
                                    position:absolute; background: url(images/controlbg.png) repeat-x;
                                    text-align:center; font-family:Arial, Helvetica, sans-serif; }
.ovp-controls-fs                  { height:90px; min-height:90px; width:400px; min-width:400px; margin:0px auto;
                                    position:relative; background: url(images/fs_controlbg.png) no-repeat; }
.ovp-controlcontainer             { left:0px; bottom:0px; z-index:1000; height:40px; min-height:40px;
                                    position:absolute; background: url(images/controlbg.png) repeat-x;
                                    text-align:center; font-family:Arial, Helvetica, sans-serif; opacity:.8; filter:alpha(opacity=80);
									-moz-opacity:0.8; -khtml-opacity: 0.8; width:640px;}
.ovp-controlcontainer-fs          { bottom:50px; z-index:1000; height:90px; min-height:90px; width:100%; min-width:100%;
                                    text-align:center; font-family:Arial, Helvetica, sans-serif; opacity: .8; filter:alpha(opacity=80);
									-moz-opacity:0.8; -khtml-opacity: 0.8; position:absolute; width:400px;}

.ovp-col1                         { display:inline; float:left; }
.ovp-col2                         { display:inline; float:right; }

/* Buttons */
.ovp-playpausebtn                 { cursor:pointer; margin-right:1em; margin-left:1em; margin-top:12px; } 

.ovp-bigplaybtn                   { position:absolute; cursor:pointer; background:url(images/sprite.png) no-repeat -60px -45px; height:60px; width:60px; min-height:60px; min-width:60px;filter:alpha(opacity=75);-moz-opacity:0.75;-khtml-opacity: 0.75;opacity: 0.75;}

.ovp-playbtn img                  { position:absolute; cursor:pointer; left:1em; margin-top:12px; background:url(images/sprite.png) no-repeat -20px 0; height:15px; width:15px; min-height:15px; min-width:15px; display:inline; }
.ovp-playbtn-fs img               { cursor:pointer; margin-right:1em; margin-left:1em; margin-top:3px; background:url(images/sprite.png) no-repeat -120px -45px; height:60px; width:60px; min-height:60px; min-width:60px; display:inline;}
.ovp-pausebtn img                 { position:absolute; cursor:pointer; left:1em; margin-top:12px; background:url(images/sprite.png) no-repeat 0 0; height:15px; width:15px; min-height:15px; min-width:15px; display:inline; }
.ovp-pausebtn-fs img              { cursor:pointer; margin-right:1em; margin-left:1em; margin-top:3px; background:url(images/sprite.png) no-repeat 0 -45px; height:60px; width:60px; min-height:60px; min-width:60px; display:inline; }
.ovp-volumebtn img                { position:absolute; margin-top:12px; right:3em; cursor:pointer; background:url(images/sprite.png) no-repeat -40px 0; height:15px; width:15px; min-height:15px; min-width:15px; }
.ovp-volumebtn-fs img             { position:absolute; top:20px; left:30px; cursor:pointer; background:url(images/sprite.png) no-repeat -40px 0; height:15px; width:15px; min-height:15px; min-width:15px; }
.ovp-mutedbtn img                 { position:absolute; margin-top:12px; right:3em; cursor:pointer; background:url(images/sprite.png) no-repeat -60px 0; height:15px; width:15px; min-height:15px; min-width:15px; }
.ovp-mutedbtn-fs img              { position:absolute; top:20px; left:30px; cursor:pointer; background:url(images/sprite.png) no-repeat -60px 0; height:15px; width:15px; min-height:15px; min-width:15px; }
.ovp-fullscreenbtn img            { position:absolute; margin-top:12px; right:1em; cursor:pointer; background:url(images/sprite.png) no-repeat -80px 0; height:15px; width:15px; min-height:15px; min-width:15px; }
.ovp-fullscreenbtn-fs img         { position:absolute; top:20px; right:30px; cursor:pointer; background:url(images/sprite.png) no-repeat -100px 0; height:15px; width:15px; min-height:15px; min-width:15px; }
.ovp-playlistbtn                  { position:absolute; top:0px; right:0px; cursor:pointer; background:url(images/sprite.png) no-repeat 0 -20px; height:25px; width:25px; min-height:25px; min-width:25px; }

/* Position/Duration */
.ovp-position, .ovp-duration, .ovp-position-fs, .ovp-duration-fs { position:absolute; color:#ddd; }
.ovp-position    { position:absolute; margin-top:12px; left:3em; }
.ovp-position-fs { position:absolute; bottom:15px; left:30px; }
.ovp-duration    { position:absolute; margin-top:12px; right: 5em; }
.ovp-duration-fs { position:absolute; bottom:15px; right: 30px; }

/* Scrubber Bar */
.ovp-scrubber                     { position:absolute; cursor: pointer; height: 10px; margin-top: 14px; left:100px; padding: 0px; border:0; width:60%; overflow:hidden; } /* WRAPPER */
.ovp-scrubber-fs                  { position:absolute; cursor: pointer; height: 10px; left:85px; bottom:20px; padding: 0px; width:55%; overflow:hidden; } /* WRAPPER */
.ovp-scrubber-playing             { height:10px; width:0px; background:url(images/scrubber_ps.png) repeat-x; }
.ovp-scrubber-playing-fs          { height:10px; width:0px; background:url(images/scrubber_ps.png) repeat-x; }
.ovp-scrubber-buffered            { height:10px; width:0px; background:url(images/scrubber_dl.png) repeat-x; }
.ovp-scrubber-buffered-fs         { height:10px; width:0px; background:url(images/scrubber_dl.png) repeat-x; }
.ovp-scrubber-remaining           { height:10px; width:100%; background:url(images/scrubber_bg.png) repeat-x; }
.ovp-scrubber-remaining-fs        { height:10px; width:100%; background:url(images/scrubber_bg.png) repeat-x; }


/**
 * Feed Slider Display Styles
 */
/* To tweak colors use the following entries */
.feedSlider .wrapper ul       { background: #eee; border-top: 3px solid #4791ff; border-bottom: 3px solid #4791ff; }

/* Mostly you won't want to tweak these but they relate to the overall layout of the slider and buttons */
.feedSlider                   { width: 640px; height: 360px; position: relative; margin:0; }
.feedSlider .wrapper          { width: 640px; overflow: auto; height: 360px; margin:0; position: absolute; top:0; left:0; }
.feedSlider .wrapper ul       { width:32700px; list-style:none; position:absolute; top:0; left:0; margin:0; padding:0; }/* Width is max for Opera */
.feedSlider ul li             { display:block; float:left; padding:0; height:354px; width:640px; margin:0; } /*height factors in 6 pixels for border */
.feedSlider .arrow            { display:block; height:74px; width:52px; background:url(images/arrows2.png) no-repeat 0 0; text-indent:-9999px; position:absolute; top:135px; cursor:pointer; }
.feedSlider .forward          { background-position: -10px -84px; right: 0px; }
.feedSlider .back             { background-position: -71px -84px; left: 0px; }
.feedSlider .forward:hover    { background-position: -10px -181px; }
.feedSlider .back:hover       { background-position: -71px -181px; }


#thumbNav                         { position: relative; top: 5px; text-align: center; }
#thumbNav a                       { color:black; font:0pt Arial, Helvetica, sans-serif; display:inline-block; height:20px; width:20px; margin:0 5px; text-align:center; background:url(images/sprite.png) no-repeat -120px 0; }
#thumbNav a.cur                   { background:url(images/sprite.png) no-repeat -140px 0; height:20px; width:20px; }
#thumbNav a:hover                 { background:url(images/sprite.png) no-repeat -140px 0; height:20px; width:20px;}

/*
  Prevents
*/
.feedSlider .wrapper ul ul    { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.feedSlider .wrapper ul ul li { float: none; height: auto; width: auto; background: none; }
