#example {
	width:600px;
	height:350px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

#slides {
	/*position:absolute;*/
	top:15px;
	left:4px;
	z-index:100;
	margin: 10px 0px;
}

#slides .next, #slides .prev {
	display:none;
	position:relative;
	margin-top:-40px;
	width:15px;
	height:40px;
	/*display:block;*/
	z-index:101;
}

.slides_container {
	width:510px;
	height:300px;
	overflow:hidden;
	position:relative;
}

.next {
	left:495px;
}

/*
.slides_container:hover > .next{
display:block;
} */

.pagination {
	display:none; /*to hide slider pagination*/
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/slider/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	position:absolute;
	bottom:-35px;
	margin-bottom:5px;
	/*height:30px;
	*/padding:5px 20px 5px 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:590px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

a:link,a:visited {
	color:#599100;
	text-decoration:none;
	font-family: Cambria , "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}