@charset "utf-8";

/*********************************************
 *                   Меню                    *
 *********************************************/
.navbar {
    background:none;
    margin-bottom:0px;
}
.navbar-toggle {
    border-radius:0px;
    padding:14px 10px;
    margin-right:-1px;
    margin-bottom:0px;
    outline:none !important;
}
.navbar-default .navbar-toggle .icon-bar { background-color:#034561; }
.navbar .nav li a { color:#9b9b9b; }
.toggle-search { padding:12px 10px 9px; }
.toggle-search i {
    display:block;
    height:21px;
    width:21px;
}
.toggle-lang {
    font-size:1.8em;
    padding:9px 8px 8px;
}

@media (min-width: 768px) {
    .menu { border-bottom:5px solid #f3f3f3 !important; }
    .navbar {
        background:#00506e url(../img/bg-navbar.png) bottom repeat-x;
        border:none;
        border-radius:0px;
        border-width:0;
        border-bottom:1px solid #9a9a9a;
        font-size:1.05em;
        font-weight:bold;
        line-height:normal;
        margin-bottom:15px;
        text-transform:uppercase;
    }
    .navbar-collapse {
        float: left;
    }
    .navbar .nav.navbar-menu { border-right: 1px solid #001923; }
    .navbar .nav.navbar-menu li {
        border-left: 1px solid #001923;
        border-right: 1px solid #005a7b;
    }
    .navbar .nav.navbar-menu li.active {
        border-left: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
    }
    .navbar .nav li a {
        color:#fff;
        padding:7px;
    }
    .navbar .nav li.div { padding:7px 0px; }
    .navbar .nav.navbar-lang li, 
    .navbar .nav.navbar-lang li a { color:#fad234; }
    .navbar .nav.navbar-lang li a { text-decoration:underline; }
    .nav li, .nav>li { display:inline-block !important; }
    .nav li ul { display:none; }
    .nav.navbar-menu li:last-child { display:none !important; }
    #navbar-lang li:before {
        content: " | ";
        float:left;
        margin-top:6px;
        margin-left:-2px;
    }
    #navbar-lang li:first-child:before { content: none; }
    #navbar-lang li.active a {
        background: none;
        color:#fff;
    }
}
#navbar-lang-mobile {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#navbar-lang-mobile li.select {
    padding: 5px 0px;
}

@media (max-width: 768px) {
    header .navbar-collapse { 
        column-count: 2;
        column-gap: 10px;
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
    }
    .navbar-collapse {
        font-size: 1.4em;
        max-height: none !important;
    }
    .navbar-collapse ul {
        list-style: none;
        text-transform: uppercase;
        padding: 0;
    }
    .navbar-collapse ul ul {
        text-transform: none;
    }
    .navbar-collapse ul a {
        display: inline-block;
        padding: 3px 15px;
    }
    .navbar-collapse ul a:hover {
        background: none;
        color: inherit !important;
        text-decoration: underline;
    }
}


/*********************************************
 *                   Шапка                   *
 *********************************************/
.input-search {
    border:1px solid #dcdbdb !important;
    border-right:0px !important;
    border-radius:2px;
    box-shadow:none;
    font-size:1.2em;
    height:25px;
}
.btn-search {
    background:transparent !important;
    border:1px solid #dcdbdb !important;
    border-left:0px !important;
    border-radius:2px;
    box-shadow:none !important;
    height:25px;
    padding:0px 3px;
    outline:none !important;
}
.btn-search i {
    display:block;
    height:21px;
    width:21px;
}
.social {
    list-style:none;
    margin:0;
    padding:0;
}
.social li {
    display:inline-block;
    margin-left:2px;
}
.social li i {
    display:block;
    height:36px;
    width:36px;
}
.scrollbar {
    background:url(../img/bg-scrollbar.png) repeat-x;
    border:1px solid #d7d7d7;
    border-radius:5px;
    font-size: 1.3em;
    height:32px;
    line-height:32px;
}


.container.scroll { padding-bottom: 20px; }
.ias_trigger span.btn { font-size: 1.4em; }
.to-all {
    color:#9b9b9b;
    display:inline-block;
    font-size:1.33em;
    margin:5px 0;
}
.to-journals { font-size:1.6em; }
.to-all:after { margin-left:10px; }
article .sign {
    color:#c2c3c3;
    font-size:1.06em;
}
article .sign span { margin-right:5px; }
article .sign span.comments,
article .sign span.views { font-size:0.9em; }
.main article, .inner article { margin-bottom:7px; }
.main article p {
    font-size:1.33em;
    margin:5px 0px;
}
.main article img { margin-bottom:5px; }
article .play {
    position: absolute;
    top: 10px;
    right: 20px;
}

.journals p { font-size:1.2em; }
.programms ul {
    font-size:1.33em;
    list-style:none;
    margin:0;
    padding:0;
}
.programms ul li { margin-bottom:5px; }

.main article p a,
.journals p a,
.programms ul li a { color:#9b9b9b; }

.news_menu {
    font-size: 1.6em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.news_menu li {
    border-left: 1px solid #d7d7d7;
    display: inline-block;
    margin: 0 -5px 0 0;
    padding: 3px 10px;
}
.news_menu li:last-child {
    border-right: 1px solid #d7d7d7;
    padding-right: 10px;
}
.news_menu li.active {
    background-color: #d7d7d7;
}
.breadcrumbs {
    font-size: 1.2em;
    margin: 3px 0;
}

@media (min-width: 768px) {
    .main h2 { padding-left:20px; }
    .main article img.no-padding { margin-right:20px; }

    .journals h3 { font-size:1.88em; }
    .journals p { font-size:1.6em; }
}
.kazakhstan ul {
    list-style:none;
    margin:0;
    padding:0;
}
.kazakhstan ul li.collapse {
    -webkit-transition: opacity .35s ease-out;
    transition: opacity .35s ease-out;
    display: block;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}
.kazakhstan ul li.collapse.in {
    opacity: 1;
    height: auto;
}

.article-text {
    font-size: 1.5em !important;
    line-height: 1.6em !important;
}
.article-text > p { margin: 0 0 15px !important; }
.article-text > div { }
.form { font-size: 1.4em; }
.form input.btn, .form input.form-control, .form textarea.form-control { font-size: 1em; }
#cat h4 {
    font-size: 1.1em;
    font-weight: bold;
}
div.team h3 { margin-bottom: 5px; }
.next-week {
    font-size: 12px;
    padding: 3px 0 0;
}
.timetable_all .active { background: #ddd !important; }
.timetable_all table { font-size: 12px; }
.timetable_all table th {
    padding:8px 5px !important;
    text-align: center;
    vertical-align: middle !important;
}
.timetable_all table th.timetable_date { width: 60px; }
.timetable_all table th, .timetable_all table td.time_value { border-right: 1px solid #dddddd; }
.timetable_all table th:last-child { border-right: none; }
.timetable_all table th a.getTimeTable {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}
.timetable_all table th a.getTimeTable div {
    font-size: 11px;
    text-transform: none;
}
.timetable_all table td.beforeNow { opacity: .3; }
.timetable_all table td.timetable_title { text-transform: uppercase;}
.timetable_all table td.timetable_title .short_text { text-transform: none; }
.timetable_all table td.timetable_title h3 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 7px;
    padding: 0;
}
#text .sitemap .navbar-nav {
    float: none;
    font-size: 1.6em;
    line-height: 1.6em !important;
}
#text .sitemap .navbar-nav li {
    display: list-item !important;
    float: none;
    text-transform: uppercase;
}
#text .sitemap .navbar-nav li a { display: inline; }
#text .sitemap .navbar-nav li a:hover {
    background: none;
    text-decoration: underline;
}
#text .sitemap .navbar-nav li ul { display: block; }
#text .sitemap .navbar-nav li ul li { text-transform: none; }
ul.live {
    font-size: 1.4em;
    list-style: none;
    padding: 0;
}

/*********************************************
 *                  Подвал                   *
 *********************************************/
footer {
    background:#131313 url(../img/bg-footer.png) repeat-x top;
    color:#fff;
    padding:15px 0;
}
footer a { color:#fff !important; }
footer ul {
    font-size:1.4em;
    list-style: none;
    padding: 0;
}
footer ul.social li {
    line-height:36px;
    margin:0;
}
footer ul.social li a i {
    display:inline-block;
    height:36px;
    width:36px;
}
footer .copy { font-size:1.1em; }
@media (min-width: 768px) {
    footer ul { font-size:1.86em !important; }
    footer ul.social li {
        display:block;
        line-height:48px;
        margin:0 0 15px;
    }
    footer ul.social li a i {
        height:48px;
        vertical-align:bottom;
        width:48px;
    }
    footer ul.social li a span.visible-sm { display:inline !important; }
    footer .copy { font-size:1.4em; }	
}
footer .footer-cols { 
    column-count: 2;
    column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
}
footer .nav-footer .navbar-nav { float: none; }
footer .nav-footer .navbar-nav li {
    display: list-item !important;
    float: none;
    text-transform: uppercase;
}
footer .nav-footer .navbar-nav li a {
    padding: 10px 15px;
    line-height: 16px;
}
footer .nav-footer .navbar-nav li a:hover {
    background: none;
    text-decoration: underline;
}
footer .nav-footer .navbar-nav li ul { 
    display: block;
    font-size: 1em !important;
    list-style: none;
    padding-left: 0;
}
footer .nav-footer .navbar-nav li ul li { text-transform: none; }
footer .nav-footer .navbar-nav li ul li a { display: block; }


/*********************************************
 *                 Спрайты                   *
 *********************************************/
.sprite {
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
}
.sprite-search { background-position:0 0; }
.sprite-vk, .sprite-vk-large { background-position:-21px 0; }
.sprite-twitter, .sprite-twitter-large { background-position:-21px -36px; }
.sprite-youtube, .sprite-youtube-large { background-position:-21px -72px; }
.sprite-google, .sprite-google-large { background-position:-21px -108px; }
.sprite-facebook, .sprite-facebook-large { background-position:-21px -144px; }
.sprite-rss, .sprite-rss-large { background-position:-21px -180px; }
.sprite-instagram, .sprite-instagram-large { background-position:-21px -216px; }
@media (min-width: 768px) {
    .sprite-vk-large { background-position:-57px 0; }
    .sprite-twitter-large { background-position:-57px -48px; }
    .sprite-youtube-large { background-position:-57px -96px; }
    .sprite-google-large { background-position:-57px -144px; }
    .sprite-facebook-large { background-position:-57px -192px; }
    .sprite-rss-large { background-position:-57px -240px; }
    .sprite-instagram-large { background-position:-57px -288px; }
}



/*********************************************
 *                 Утилиты                   *
 *********************************************/
.margin-bottom { margin-bottom:15px; }
hr {
    border-top: 1px solid #d7d7d7;
    margin:0;
}
hr.bold {
    border-top: 3px solid #024561;
}
hr.top-small { margin-top:5px; }
hr.bottom-small { margin-bottom:7px; }
h1, h2, h3, h4, h5 {
    margin:0;
}
h1 {
    padding: 5px 0 5px;
}
h2 {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom:15px;
    padding:7px 0 5px;
}
h2.inverse {
    background-color:#d8d5d5;
    padding-top:5px;
    padding-bottom:3px;
}
h3 {
    font-size:1.6em;
    padding:5px 0 0;
}
h3.margin-bottom, img.margin-bottom { margin-bottom:5px; }
h3.grey { padding:10px 0; }
h3.grey a { color:#9b9b9b; }
h3.small { font-size:1.33em; }
h3.bul { padding-left:15px; }
h3.bul:before {
    background-color:#034561;
    content:' ';
    display:inline-block;
    float:left;
    height:5px;
    margin-left:-15px;
    margin-top:1px;
    width:5px;
}
h3.grey.bul:before {
    background-color:#9b9b9b;
}
.arrow:after {
    color:#c2c3c3;
    content: '>';
    display:inline-block;
    float:right;
    font-size:1.4em;
    font-weight:bold;
    line-height:1em;
}
.arrow.down:after {
    content: 'v';
}
.arrow.up:after {
    content: '^';
}
.no-padding { padding:0; }


.auth-service { margin: 0 3px 0 0; }
.auth-service .auth-link .auth-title { display: none !important; }
.services {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    overflow: hidden;
}
.auth-icon {
    background: url(../img/social.png) no-repeat;
    width: 21px;
    height: 21px;
}
.auth-services .auth-service .auth-link { width: 21px; }
.auth-services {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.auth-icon.vkontakte { background-position: 0 0; }
.auth-icon.twitter { background-position: -63px 0; }
.auth-icon.facebook { background-position: -42px 0; }
.auth-icon.mailru { background-position: -21px 0; }