html { height: 100%; }
#page { padding: 15px 0 15px; }
#search {
    background-color: #fcfcfc;
    height: 100%;
    padding: 0 0 15px;
}
#search .container-fluid {
    height: 100%;
    min-height: 100%;
}
a { color: #00354c; }

h1 {
    color: #00354c;
    font-size: 24px;
    margin-top: 0;
}


.img-16x9 {
    padding-top: 66.5%;
    position: relative;
    width: 100%;
}
.img-9x16 {
    padding-top: 140%;
    position: relative;
    width: 100%;
}
.video-16x9{
    padding-top: 73%;
    position: relative;
    width: 100%;
}
.img-16x9 .out,
.img-9x16 .out {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.block-news article {
    border-bottom: 1px solid #e2e2e2;
    color: #2b2b2b;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.block-news .col-title {
    height: 103px;
    overflow: hidden;
}
.block-news .col-title-1 {
    height: 172px;
    overflow: hidden;
}
.block-news article h3 {
    font-size: 16px;
    margin: 0 0 1em;
}
.block-news article p {
    line-height: 1.1em;
    font-size: 16px;
    margin-right: 10px;
    position: absolute;
}
.block-news article p a { color: #2b2b2b; }
.block-news article .date,
.block-view .date {
    color: #2b2b2b;
    font-size: 11px;
    font-family: 'PT Serif', serif;
}
.block-view .stats {
    font-size: 11px;
    font-family: 'PT Serif', serif;
    list-style: none;
    margin: 0;
    padding: 0;
}
.block-view .stats li {
    display: inline-block;
    margin-left: 10px;
    padding-left: 15px;
}
.block-view .stats .icon-user { background: url(../img/icon-user.png) no-repeat left 2px; }
.block-view .stats .icon-comment { background: url(../img/icon-comment.png) no-repeat left 2px; }
.block-news article .col-image,
.block-view .col-image { position: relative; }
.block-view .col-image { margin-bottom: 7px; }
.block-news article .play {
    background: url(../img/play.png) no-repeat;
    height: 33px;
    left: 50%;
    margin: -17px 0 0 -16px;
    position: absolute;
    top: 50%;
    width: 33px;
    z-index: 1;
}
.block-view .play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}
.block-view hr+p+p  { font-size: 16px; }
.block-view p img {
    height: auto !important;
    width: 100% !important;
}
.block-view hr { margin: 10px 0; }

.timetable_all {
    font-size: 12px;
    margin: -15px -15px;
}
.timetable_all .table {
    table-layout: fixed;
    margin: 0;
}
.timetable_all .before,
.timetable_all .before a { color: #666; }
.timetable_all .table th.no-padding,
.timetable_all .table td.no-padding {
    padding: 8px 5px;
}
.timetable_all th {
    color: #00354c;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
.timetable_all h3 {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
}
.timetable-header {
    background: #fff;
    position: fixed;
    top: 0; right: 0; left: 0;
}
.timetable-body { margin-top: 51px !important; }
.timetable-image {
    float: left;
    margin-right: 10px;
    width: 120px;
}
.onair {
    color: #00354c;
    text-transform: uppercase;
}
.img-calendar {
    background: url(../img/calendar.png) no-repeat;
    display: inline-block;
    height: 25px;
    width: 26px;
}

.timetable-calendar,
.timetable-calendar-new {
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    background-size: 100% 100%;

    background: -moz-linear-gradient(top, #2d2d2d, #808080);
    background: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#808080));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#2d2d2d,endColorstr=#808080,GradientType=0); zoom: 1;
    background: linear-gradient(top,#2d2d2d, #808080);

    background-clip: border-box; -moz-background-clip: border-box; -webkit-background-clip: border-box;
    background-origin: border-box; -moz-background-origin: border-box; -webkit-background-origin: border-box;

    overflow: hidden;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    padding-top: 20%;
}
.timetable-calendar hr,
.timetable-calendar-new hr {
    border-top-color: #666;
    margin: 10px auto !important;
}

.timetable-calendar .years,
.timetable-calendar-new .years {
    height: 70px;
    margin: 0 auto;
    width: 120px;
}
.timetable-calendar .years ul,
.timetable-calendar-new .years ul {
    line-height: 36px;
    list-style: none;
    padding: 20px 0 0;
    width: 5500px;
}
.timetable-calendar .years li,
.timetable-calendar-new .years li {
    color: #9e9e9e;
    float: left;
    font-size: 32px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .75);
    width: 120px;
}
.timetable-calendar .years li.active,
.timetable-calendar-new .years li.active {
    color: #fff;
    font-size: 36px;
    text-shadow: 0 0 8px rgba(255, 255, 255, .35);
}

.timetable-calendar .monthes,
.timetable-calendar-new .monthes {
    height: 60px;
    margin: 0 auto;
    width: 120px;
}
.timetable-calendar .monthes ul,
.timetable-calendar-new .monthes ul {
    line-height: 50px;
    list-style: none;
    padding: 0;
    width: 5500px;
}
.timetable-calendar .monthes li,
.timetable-calendar-new .monthes li {
    color: #9e9e9e;
    float: left;
    font-size: 32px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .75);
    text-transform: lowercase;
    width: 120px;
}
.timetable-calendar .monthes li.active,
.timetable-calendar-new .monthes li.active {
    color: #fff;
    font-size: 36px;
    text-shadow: 0 0 8px rgba(255, 255, 255, .35);
}

.timetable-calendar .days,
.timetable-calendar-new .days {
    height: 90px;
    margin: 0 auto;
    width: 60px;
}
.timetable-calendar .days ul,
.timetable-calendar-new .days ul {
    line-height: 36px;
    list-style: none;
    padding: 0;
    width: 5500px;
}
.timetable-calendar .days li,
.timetable-calendar-new .days li {
    color: #9e9e9e;
    float: left;
    font-size: 32px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .75);
    text-transform: lowercase;
    width: 50px;
}
.timetable-calendar .days li.active,
.timetable-calendar-new .days li.active {
    color: #fff;
    font-size: 36px;
    text-shadow: 0 0 8px rgba(255, 255, 255, .35);
}
.timetable-calendar .weekday,
.timetable-calendar-new .weekday {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}



.grey h2 {
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
    text-transform: uppercase;
}
.grey h2:first-child { margin-top: 0 }
.program {
    margin-bottom: 20px;
    position: relative
}
/*.row .col-programm:first-child .program { margin-top: 0 !important; }*/
.program h3 {
    background-color: #2d2d2d;
    bottom: 0;
    font-size: 12px;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}
.program h3 a {
    color: #fff;
    display: block;
    padding: 5px;
}

#searchForm {
    background-color: #004361;
    left: 0;
    /*margin: 0 -15px;*/
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#searchForm .btn {
    background-color: #fff;
    border: none;
    color: #666;
    padding: 7px 12px;
    outline: none;
}
#searchForm .form-control {
    border: none;
    box-shadow: none !important;
    padding-left: 0;
}
#searchContent {
    background: url(../img/search-body.png) center top;
    height: 100%;
}
#noResults {
    color: #aaa;
    font-size: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.searchResult {
    background-color: #fff;
    /*margin: 0 -15px;*/
    padding: 54px 0 0 0;
}
.searchResult ul {
    list-style: none;
    padding: 0;
}
.searchResult ul li {
    padding: 10px 0;
}
.searchResult ul li.date {
    background-color: #595959;
    color: #fff;
    margin: -1px -15px 0;
    padding: 5px 15px;
}
.searchResult ul li + li:not(.date) { border-bottom: 1px solid #ddd; }
/*.searchResult ul li.date + li:not(.date) { border-bottom: none; }*/

.bg-gradient {
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    background-size: 100% 100%;

    background: -moz-linear-gradient(top, #4d4d4d, #666666);
    background: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#666666));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#4d4d4d,endColorstr=#666666,GradientType=0); zoom: 1;
    background: linear-gradient(top,#4d4d4d, #666666);

    background-clip: border-box; -moz-background-clip: border; -webkit-background-clip: border-box;
    background-origin: border-box; -moz-background-origin: border; -webkit-background-origin: border-box;
}
.currency-date {
    color: #fff;
    margin: -15px -15px 10px;
    padding: 5px 15px;
}
.currency {
    height: 35px;
    padding: 5px 10px;
}
.currency img {
    margin-right: 5px;
    vertical-align: -7px;
}
i.up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid #84ee50;
    display: inline-block;
    margin-top: 5px;
}
i.down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #ff0e00;
    display: inline-block;
    margin-top: 5px;
}
@media (min-width: 992px) {
    .col-md-6.line {
        border-right: 1px solid #ddd;
    }
}


#comments {
    clear: both;
    padding-top: 10px;
}
.comment {
    margin-top: 5px;
}
.comment .comment-name {
    color: #00354c;
    font-size: 16px;
    font-weight: bold;
}
.comment .comment-text {
    font-size: 16px;
    margin-top: 3px;
}
.comment hr {
    margin-bottom: 0;
}

.app-comments-form {
    position: relative;
}
.app-comments-form .form {
    background: #cbcbcb;
    border-radius: 5px;
    bottom: 50px;
    left: 50%;
    margin: 0 0 0 -175px;
    padding: 15px 20px 20px;
    position: absolute;
    width: 350px;
}
.app-comments-form .form:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #cbcbcb;
    bottom: -16px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -8px;
    position: absolute;
}
.app-comments-form .form h3 {
    margin: 0 0 20px;
}

.block-form {
    background: #cbcbcb;
    padding: 15px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
.block-form label {
    color: #666;
    font-size: 16px;
    font-weight: normal;
}


video {
    display: block;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    /*position: relative !important;*/
}
/*
.video-js {
    width: 100% !important;
    height: auto !important;
}
*/


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .block-view .stats .icon-user {
        background-image: url(../img/icon-user@2x.png);
        background-size: 12px 12px;
    }
    .block-view .stats .icon-comment {
        background-image: url(../img/icon-comment@2x.png);
        background-size: 12px 12px;
    }
    .block-news article .play {
        background-image: url(../img/play@2x.png);
        background-size: 33px 33px;
    }
    #searchContent {
        background-image: url(../img/search-body@2x.png);
        background-size: 16px 51px;
    }
    .img-calendar {
        background-image: url(../img/calendar@2x.png);
        background-size: 26px 25px;
    }
}

@media only screen and (min-width:768px) {
    .block-view p { font-size: 16px; }
    .program h3 { font-size: 14px; }
    .timetable_all, .timetable_all h3 { font-size: 14px; }
}

/* youtube*/
.video-container {
    position: relative !important;
    padding-bottom: 56.25% !important;
    padding-top: 30px !important; 
	height: 0 !important; 
	overflow: hidden !important;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}