* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

header, nav, section, article, aside, footer {
    display: block;
}

body {
font-family: Cambria , "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*  font-family: Arial;*/
    height: 100%;
    color: #00354c;
    /*background: #f5f5f5;*/
}

a {
    color: #00354c;
    outline: none;
    text-decoration: underline;
}
/* a:active {color: #f00;

}
*/
hr{
height: 1px;
border: none;
background-color: #e9e9e9;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 18px
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

#wrapper {

    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    background-color: #fcfcfc;
}

#border{
width: 998px; 
margin: 0px auto;
border-left: 0px solid #e9e9e9;
border-right: 0px solid #e9e9e9;
}

h2 {
    line-height: 23px;
   /* font: BOLD 16px/32px "DINCondensedWeb", "Arial Narrow", Arial; */
/* font: BOLD 14px/32px Arial; */
font-size: 18px !important;
text-transform: uppercase;

}
.rightblock{font-size: 14px;
font-family: Cambria , "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #00354c;
padding-top: 10px;
font-weight: bold;
text-transform: uppercase;
}

h3{
font-size:20px;
color:#00344b;
line-height:0.9;
}
h3 a:hover {
    text-decoration: underline;
	}
/* Header
-----------------------------------------------------------------------------*/
#header {
    width: 100%;
    /*height: 110px;*/
margin-top:20px;
height:86px;
    /*background: url(../images/header_bg.jpg) no-repeat right top;*/
}

#header .header_content {
    /*width: 1040px;*/
width:998px;
    margin: 0 auto;
    position: relative;
}

.shadow {
    height: 47px;
    /*background: url(../images/menu_bg.png) no-repeat right top;*/
    width: 100%;
    z-index: 116;
    position: relative;
    /*border-top: 1px #003246 solid;*/
border-left: 1px rgba(194,189,189,0.26) solid;
border-right: 1px rgba(194,189,189,0.26) solid;
}

.logo {
    position: absolute;
    /*top: 30px;*/
	/*top:20px;*/
top:11px;
    width: 228px;
    height: 67px;
}

.slogan {
    position: absolute;
    /*top: 14px;*/
top:9px;
    left: 275px;
    color: #fff;
    /*text-transform: uppercase;*/

}


.slogan a{
text-decoration: none;
color: #00354c;
/*font-size: 0.9em;*/
line-height:27px;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;

}

.slogan a:hover{
text-decoration:underline;
}

.slogan h1 {
    font-size: 13px;
    text-shadow: 1px 2px 5px #000;
}

.logo img {
    float: left;
    z-index: 10;
   /* height: 67px;*/
width:228px;
}

.search_block {
    position: absolute;
   /* background: url(/upload/search_bg2.png) no-repeat left top;
    */height: 20px;


    /*width: 227px;*/
width:261px;
    right: 0;
    /*top: 63px;*/
    top:43px;
border:1px solid #ccc;
}

.search_block input {
    border: none;
    height: 25px;
    width: 221px;
    margin-right: 0;
    padding-left: 10px;
    background: none;
    display: inline-block;
    vertical-align: top;
}

.search_block button {
    border: none;
  /*  height: 30px;
    width: 22px;
    margin: 0;*/
    height: 18px;
    width: 22px;
    margin: 1px;
    padding-top: 10px;
   /* background: url("/upload/search4.png") no-repeat center;
    */
background: url("/upload/search_butt.png") no-repeat center;
 
display: inline-block;
    vertical-align: top;

}

.social {
    position: absolute;
    right: 0;
    top: 15px;
   /* width: 190px;*/
/*width:204px;*/
}

.social ul li {
    list-style: none;
    display: inline-block;
    height: 15px;
}

.social ul li a {
    text-decoration: none;
    display: block;
    height: 15px;
    /*margin-right: 15px;*/
margin-right: 2px;
}

.social ul li a.icon-vk {
    width: 14px;
    background: url(../images/social_header_sprite.png) no-repeat 0 0;
}

.social ul li a.icon-twitter {
    width: 15px;
    background: url(../images/social_header_sprite.png) no-repeat -28px 0;
}

.social ul li a.icon-youtube {
    width: 23px;
    background: url(../images/social_header_sprite.png) no-repeat -56px 0;
}

.social ul li a.icon-rss {
    width: 17px;
    background: url(../images/social_header_sprite.png) no-repeat -93px 0;
}

.social ul li a.icon-facebook {
    width: 10px;
    background: url(../images/social_header_sprite.png) no-repeat -125px 0;
}

.social ul li a.icon-mobile {
    width: 11px;
    background: url(../images/social_header_sprite.png) no-repeat -150px 0;
    margin-right: 0;
}

.lang {
   /* position: absolute;
    top: 0;
    right: 0;*/
	float:right;
	margin-top:-5px;
}

.lang_menu a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
/*color:#FFDF37;*/
    text-transform: uppercase;

}

.phone_pic {
    position: relative;
    top: 16px;
    left: 85px;
}

.lang_menu li {
    display: inline-block;
    padding: 0 10px;
    /*border-right: 1px #8bb7c8 solid;*/
/*border-right: 1px #FFDF37 solid;*/
border-right: 1px #7e7e7e solid;

}

.lang_menu li:last-child {
    border-right: none;
}

.lang_menu li.active a {
    display: inline-block;
    font-weight: bold;
text-decoration: underline;
}

/* Slider
-----------------------------------------------------------------------------*/

.slidewrap {
    width: 998px;
    height: 332px;
    overflow: hidden;
    z-index: -10;
    margin-top: -100px;
    position: absolute;
}

#pagewrap {
    margin: 120px auto;
    padding: 0;
    position: relative;
    height: 100%;
    width: 960px;
}

#slider {
    width: 998px !important;
    height: 300px !important;
    margin-top: 100px;
}

#slider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

/* The Nivo Slider styles */
.nivoSlider {
    position: relative;
}

.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
}

/* The slices and boxes in the Slider */
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}

.ribbon {
    background: url("/themes/front/images/slider_bg.png") no-repeat;
    width: 350px;
    height: 281px;
    z-index: 55;
    color: #fff;
    position: absolute;
    right: 0;
    top: 100px;
}

.nivo-caption {
    color: #fff;
    position: absolute;
    z-index: 60;
    right: 0;
    width: 250px;
    top: 0px;
    padding: 25px 80px 25px 25px;
    opacity: 1 !important;
    font-size: 12px;
    text-transform: uppercase;
}

.nivo-caption p h2 {
    padding-bottom: 15px;
}

.nivo-caption p p {
    text-transform: capitalize;
}

nivo-html-caption {
    color: #fff;
    position: absolute;
    z-index: 60;
    right: 100px;
}

/* rightbar
-----------------------------------------------------------------------------*/
.rightbar {
    background: url("/themes/front/images/right_bg.png") no-repeat;
    width: 75px;
    height: 225px;
    position: absolute;
    right: 0px;
    padding-top: 47px;
    z-index: 99;
}

.rightbar a {
    display: block;
    margin-bottom: 45px;
    padding-left: 25px;
    text-align: center;
    margin-top: -25px
}

/* Menu
-----------------------------------------------------------------------------*/

.menu {
    height: 38px;
    color: #fff;
    font-size: 18px;
 width: 998px;
   /*width:1040px; */
   margin: 0 auto;

/*border: 1px solid #e9e9e9;*/
/*border-top: 2px solid #e9e9e9;
border-bottom: 2px solid #024561;*/
border-top: 3px solid #9e9e9e;
border-bottom: 5px solid #024561;
}

.menu a {
    text-transform: uppercase;
   /* color: #fff;*/
    color:#024561;
    font-size: 13px;
    text-decoration: none;
    font: bold 15px/30px "DINCondensedWeb", "Arial Narrow", Arial;
}

.menu ul {
    border-collapse: collapse;
}

.menu ul li {
    float: left;
    /*padding: 8px 10px;*/
    padding: 4px 4px;
    position: relative;
    list-style: none;
}

.menu ul li:first-child {
    /*border-left: 1px #003246 solid*/
/*border-left: 1px #e9e9e9 solid;*/
}

.menu ul li ul {
    display: none;
    width: 230px;
    background-color: #042334;
    opacity: 0.97;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 100;
    margin-top: -11px;
}

.menu ul li ul li {
    display: block;
    padding: 8px 14px;
    float: none;
}

.menu ul li ul li a {
    font-weight: normal;
}

.menu ul li ul li ul {
    display: none !important;
}

.menu > ul > li {
    /*border-left: 1px #005f81 solid;
    border-top: 1px #005f81 solid;
    border-right: 1px #003246 solid;*/
/*border-left: 1px #e9e9e9 solid;
    border-top: 1px #e9e9e9 solid;*/
    border-right: 1px #e9e9e9 solid;
/*border-bottom: 1px #e9e9e9 solid;*/
}

.menu > ul > li:hover, .menu > ul > li.active {
    background: url(../images/menu_active.png) repeat-x left top;
    border: none;
    /*padding: 10px 11px;*/
	padding:4px 4px;

}

.menu>ul> li:hover> a, .menu > ul > li.active>a {
    color: #00506d;
}

.menu > ul > li:hover > ul {
    display: block;
}

.menu ul li ul li{
display:none;
}
/*

news ----------------------------------------------------
*/

.informer {
    /*float: right;
    background: url("/themes/front/images/informer_bg.png") no-repeat;*/
   /* width: 968px;*/
width: 1040px;
    height: 18px;
/*border:1px solid #e9e9e9;
    padding: 7px 10px 0 20px;*/
/*padding-left:12px;*/
    font-size: 12px;
	*/font: 14px/30px "DINCondensedWeb", "Arial Narrow", Arial;*/
    /*font-weight: bold;*/
    /*color: #003e5a;*/
    color: #00354c;
    /*text-transform: capitalize;*/
    position: relative;
    z-index: 1;
   /* margin-top: -2px;*/
margin:0px auto;
padding-top: 8px;
}

.informer_content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 15;
	color: #00354c;
}

#newline{

height:20px;}

#newline ul li a{
color:#2b2b2b;
}


.block_inf {
    /*width: 998px;*/
 width: 769px;
    margin-top: -10px;
    position: relative;
}

.top_news {
    width: 575px;
    height: 222px;
    background: url(../images/topNewsBg.png) no-repeat right top;
    margin: 0 0 0 -15px;
}

.top_news h2 {
    background: url(../images/topNewsTitle.png) no-repeat left top;
    width: 155px;
    height: 27px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    margin-top: -15px;
    left: 0;
    padding: 3px 0 0 10px;
}

.top_news .caption {
    color: #fff;
    background: url(../images/topnewscaption.png);
    width: 144px;
    height: 160px;
    padding: 10px;
    top: 14px;
    left: 0px;
    position: absolute;
}

.top_news .caption h4 {
    font-size: 14px;
}

.top_news .caption p {
    font-size: 12px;
}

.block_onair {
    min-width: 226px;
    height: 22px;
margin-top: -13px;
   /* background-color: #2e5064;
    background: url("/themes/front/images/time_bg-blue.png") no-repeat left top;
    */float: left;
    color: #C9C6C6;
    /*padding: 13px 30px 4px 20px;*/
    font-size: 11px;
    text-transform: uppercase;
    white-space: nowrap;
    max-width: 315px;
   /* overflow: hidden;*/
}

.block_onair a {
    color: #6a6a6a;
    text-decoration: none;
font-size: 12px;
font-weight: bold;}

.block_time {
    background: url("/themes/front/images/time_bg.png");
    float: left;
    width: 63px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    margin-left: -4px;
}

.block_time span {
    display: block;
    padding-top: 11px;
    padding-left: 10px;
}

.block_of_lists {
    margin-top: -17px;
    margin-left: -15px;
    height: 222px;
    width: 575px;
    background: url("/themes/front/images/blue_bg_onair.png") no-repeat right top;
    position: relative;
    z-index: 99;
}

.about_kz {
    background: url(../images/white_bg.png) no-repeat left top;
    position: absolute;
    z-index: 97;
    width: 540px;
    height: 222px;
    right: -22px;
    top: 0;

}

.about_content {
    padding: 25px 35px 0px 70px;
}

.about_content h3 {
    color: #00506e;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about_content h3 a {
    font-size: 16px;
    text-decoration: none;
}

.about_content h3 a:hover {
    text-decoration: underline;
}

.about_content p, .about_content  a {
    color: #00506e;
    font-size: 12px;
    text-decoration: none;
}

.block_of_lists ul {
    height: 150px;
    padding-left: 30px;
    padding-top: 30px;
    width: 510px;
}

.block_of_lists li {
    display: inline-block;
    float: left;
    width: 160px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}

.block_of_lists li div {
    position: relative;
    height: 140px;
}

.block_of_lists li span.list_title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    font-size: 12px;
    padding: 5px 0;

}

.list_time {
    background: url("/themes/front/images/list_time_fon.png");
    width: 52px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: 0px;
    display: block;
    padding-left: 12px;
    padding-top: 3px;
    color: #00354c;
    font-size: 12px;
}

.latest_news span {
    display: inline-block;
    vertical-align: top;
}

.latest ul li a:hover{
text-decoration:underline;
}

.latest_news a.archive:hover {
    text-decoration: underline;
}

.latest_news span.title {
    width: 290px;
    font-weight: normal;
}

.latest_news {
    float: right;
    width: 453px;
    color: #00354c;
    height: 188px;
    top: 25px;
    right: -22px;
    position: absolute;
    padding: 30px 40px 30px 47px;
    background: url("/themes/front/images/yellow_fon.png") no-repeat left top;
    overflow: hidden;
    z-index: 30;
}


.latest {
    float: right;
    /*width: 276px;
    */

width:266px;
color: #00354c;
    height: 530px;
    /*top: 25px;*/
top:0px;
    /*right: -22px;*/
	/*right:21%;
    */
/*right:24%;*/
/*right:241px;*/
right:12px;


position: absolute;
    /*padding: 30px 40px 30px 47px;*/
    overflow: hidden;
    z-index: 30;
border:1px solid #e2e2e2;
font-size:0.8em;
}


.journals{
width:100%;
}

.journals img{
width:143px;
}

.col-j{
width: 100%;
padding:10px;
min-height: 424px;}


.col-j p a{
text-decoration: none;
color: #BEBEBE;
font-size: 0.9em;
}

.col-j h3 a{
text-decoration: none;
font-weight: initial;
font-size: 0.9em;}

#latest-h{
/*background:#e9e9e9;*/
background:#f8f8f8;
border-bottom: 1px solid #e2e2e2;
padding: 4px 4px 4px 20px;
background-color: #ececec;
background: url("/themes/front/images/menu_active.png");
font-size: 12px;
 
}

.latest ul{
list-style:none;
height: 456px;
padding: 10px 20px;
}

.latest ul li{
padding: 0px 0px 10px 0px;
}

.latest a{
text-decoration:none;
}


.latest .news_time{
color: #636363;
font-size: 0.9em;
}

.latest_news h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.latest_news hr {
    height: 2px;
    border: 0;
    box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    background: #00354c;
}

.latest_news ul {
    margin-top: 0px;
}

.latest_news li {
    list-style: none;
    line-height: 0.85em;
    border-bottom: 1px #ac7b0c solid;
    padding: 8px 0 7px;
}

.latest_news li a {
    color: #00354c;
    font-size: 14px;
    text-decoration: none;
}

.latest_news li a span {
    color: #00354c;
    font-weight: bold;
}

.latest_news li a span.title:hover {
    text-decoration: underline;
}




.bizsport{
/*width:50%;*/
/*padding: 10px 20px;*/
/*height: 243px;*/

/*height: 290px;*/

padding-right:14px;
}

.bizsport h3{
/*
font-size:1em;*/
font-size:14px;
font-weight:inherit;
margin:4px;
line-height:20px;
}

.bizsport h3 a{
text-decoration:none;
font-size: 12px;
font-weight: bold;
}


.bizsport-p p a:hover{
text-decoration:none;}

.bizsport-h h3 a:hover{
text-decoration:underline;}

.bizsport-small a:hover{
text-decoration:underline;}


.imgtable{
width: 50%;
}

.texttable{
/*width: 50%;*/
padding-left: 7px;
vertical-align: top;
}

.texttable p a{
color:#2b2b2b;
}

.texttable h3 a{
font-size:14px;
font-weight:bold;
color:#00354c;
}

#left{
width: 769px;
display:inline-block;
}


#right{
width:226px;
display:inline-block;
}



#content{
/*display:inline-flex;*/
/*padding: 20px 0px 20px 29px;*/
padding: 20px 0px 20px 0px;
}

.archive {
    position: absolute;
    right: 40px;
    top: 32px;
    color: #00354c;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

a.archive {
    text-transform: uppercase;
}

/*
NEWS////////////////////////////////
*/

.latest_second_news {
    margin-bottom: 58px;
    height: 510px;
width:100%;
    position: relative;
   /* box-shadow: 0 0px 3px rgba(0, 0, 0, .25);
    background: #e6e6e7;
    margin-top: -25px;*/

}


#anounce-h{
background: url("/themes/front/images/menu_active.png");
padding-left:10px;}


#editors-h{
background: url("/themes/front/images/menu_active.png");
padding-left:10px;}

.latest_second_news a{
font-weight: initial;
text-decoration: none;
font-size: 0.8em;
}


.welcome {
    margin-bottom: 20px;
    margin-top: 140px;
    height: 243px;
    width: 998px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0px 3px rgba(0, 0, 0, .25);
    background: #efefef;
}

.latest_second_news h2 {
/*font-size:18px;*/
   /* background: url("/themes/front/images/h_fon_main.png") no-repeat;
    height: 60px;
    padding-left: 30px;
    padding-top: 14px;
    position: relative;
    left: -12px;
    top: 30px;
    margin-bottom: 25px;
    font-size: 20px;*/
line-height: 23px;
/*font: BOLD 14px/30px "DINCondensedWeb", "Arial Narrow", Arial;*/
text-transform: uppercase;
font-weight: bold;
}

.latest_second_news h2 a {
    text-decoration: none;
line-height: 23px;
/* font: BOLD 14px/32px Arial; */
/*font: BOLD 18px/30px "DINCondensedWeb", "Arial Narrow", Arial;*/
text-transform: uppercase;
font-weight: bold; 
font-size:18px;
}

.latest_second_news h2 a:hover{
text-decoration:underline;
}

.latest_second_news div.tabs li {
    background: url("/themes/front/images/news_tag_fon.png") no-repeat right top;
    height: 31px;
    display: inline-block;
    padding: 6px 22px 0 12px;
    text-transform: uppercase;
    width: 75px;
    text-align: center;
}

.latest_second_news div.tabs li:hover, .latest_second_news div.tabs li.active {
    background: url("/themes/front/images/news_tag_fon_hover.png") no-repeat right;
    color: #00354c;

}

.latest_second_news div.tabs li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.latest_second_news div.tabs li:hover >a, .latest_second_news div.tabs li.active >a {
    color: #00354c;
}

.paginator {
    margin-top: 15px;
    min-width: 200px;
    display: inline-block;
    clear: both;
}

.paginator div {
    text-align: center;
    margin-top: 5px;
}

.tabs {
    margin-left: 17px;

}

.tabs ul {

    height: 40px;
}

.slider_left {
    width: 542px;
    height: 320px;
    position: absolute;
    top: -46px;
    left: -16px;
}

.slider_left img {
    position: absolute;
    top: 67px;
    left: 14px;
    z-index: -10;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    width: 440px;
    height: 183px;

}

.slider_left a {
    position: absolute;
    left: 41px;
    color: #005175;
    font-size: 14px;
    top: 237px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    /*z-index: 999;*/
}

.slider_yellow {
    background: url("/themes/front/images/welcome.png") no-repeat left top;
    width: 542px;
    height: 306px;
    /*z-index: 11;*/

}

.about_right {
    float: right;
    width: 40%;
    min-height: 220px;
}

.programm {
    margin: -62px 0 0 -18px;
    height: 344px;
    width: 1039px;
    background: url("/themes/front/images/programms_bg.png");
    position: relative;
    z-index: 96;
}

.programm h2 {
    background: url(../images/program_tile.png) no-repeat left top;
    color: #00354c;
    font-size: 20px;
    width: 212px;
    height: 44px;
    position: absolute;
    z-index: 99;
    left: 6px;
    top: 65px;
    padding: 12px 0 0 25px;
}

.programm h2 a {
    text-decoration: none;
}

.programm .slider .slide {
    display: inline-block;
    width: 230px;
    height: 160px;
    position: relative;
    margin: 9px 2px;
}

/*.programm .slider {*/
/*margin-left: 20px;*/
/*}*/

.programm .slider .slide a {
    display: block;
    width: 230px;
    height: 130px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #254558;
}

.programm .slider .slide span {
    position: absolute;
    bottom: -5px;
    color: #003e5a;
    left: -10px;
    background: url("/themes/front/images/programm_button_fon.png");
    width: 192px;
    height: 32px;
    z-index: 100;
    font-weight: normal;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 10px;

}

.news_tab_items {
    margin-left: 15px;
    overflow: hidden;
    height: 450px;
}

.news_tab_items_content {
    width: 920px;
    height: 395px;
}

.news_tab_items ul {

}

.news_tab_items li {
    display: inline-block;
    float: left;
    width: 225px;
    height: 185px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #254558;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.play {
    width: 25px;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.play img {
    background: none !important;
}

.news_tab_items li img {
    width: 100%
}

.news_tab_items li span.items_title {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: justify;
    background: url("/themes/front/images/news_description_bg.png");
    font-size: 12px;
    /*width: 279px;*/
    padding: 10px 10px;
    height: auto;
    text-align: left;
    color: white;
    min-width: 205px;
}

.banner {
    width: 998px;
    height: 90px;
    margin: 0 auto;

}

.banner_inside {
    width: 998px;
    margin: 30px auto 20px;
    height: 90px;
}

.about_right {
    width: 460px;
    height: 261px;
    margin-top: 20px;
}

.about_right h2 {
    font-size: 18px;
}

.partners {
    height: 190px;
    text-align: center;

}

.partners ul {
    width: 930px;
    float: left;
}

.partners div.slide {
    /*display: inline-block;*/
    /*margin: 0 7px;*/
    background: url("../images/partner_bg.png") no-repeat;
    /*width: 219px;*/
    /*height: 124px;*/
    text-align: center;
    vertical-align: top;
    /*padding-top: 37px;*/
}

.partners .prev, .latest_second_news .paginator .prev {
    background: url("/themes/front/images/left_btn_partners.png") no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    float: left;
    margin-top: 53px;

}

.latest_second_news .paginator .prev, .latest_second_news .paginator .next {
    margin: 0 !important;
}

.partners .next, .latest_second_news .paginator .next {
    background: url("/themes/front/images/right_btn_partners.png") no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    margin-top: 53px;

}

/* Middle
-----------------------------------------------------------------------------*/
#content {
    width: 998px;
/*width:1040px;*/
    margin: 0 auto;
    position: relative;
    z-index: 10;margin-top: -10px;

}

#content.second {
    /*margin-top: 60px;*/
}

.content {
    /*margin: 50px 220px 50px 50px;*/
    margin: 50px 20px 50px 50px;
    /*min-height: 750px;*/
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.25);
    background: #e6e6e7;
    display: inline-block;
    width: 780px;
    padding-bottom: 20px;
}

.content_wrap {
    display: inline-block;
    vertical-align: top;
}

.content.second, .content.timetable {
    margin: -3px 20px 50px 0px;
}

.content.timetable {
    width: 920px;
}

.h_fon {
    width: 100%;
    height: 70px;
}

.content .h1_left_pic {
    background: url("/themes/front/images/h_fon_em.png") no-repeat;
    display: block;
    float: left;
    width: 17px;
    height: 57px;
    position: relative;
    left: -257px;
    top: 5px;
}

.content h1 {
    background: url("/themes/front/images/h_fon.png") no-repeat right;
    font-size: 16px;
    display: block;
    min-width: 160px;
    height: 41px;
    padding: 16px 40px 0 25px;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    left: -257px;
    float: left;

}

.content.program .h1_left_pic {
    background: url("/themes/front/images/h_fon_em.png") no-repeat;
    display: block;
    float: left;
    width: 17px;
    height: 57px;
    position: absolute;
    left: -12px;
    top: 0px;
}

.content.program h1 {
    background: url("/themes/front/images/h_fon.png") no-repeat right;
    font-size: 16px;
    display: block;
    min-width: 160px;
    height: 47px;
    padding: 16px 40px 0 11px;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    left: 0;
    float: left;

}

.content .pager {
    clear: both;
}

/* Страница новостей*/

.news_menu {
    text-align: center;
    height: 42px;
    background: url("/themes/front/images/border_category_lines.png") repeat-x;
}

.news_menu li > a {
    text-decoration: none;
    color: #00354c;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.news_menu li {
    display: inline-block;
    padding: 10px 7px;
    margin-top: 1px;

    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    /* width: 70px;*/
}

.news_menu li:hover {
    background: #002f43;
}

.news_menu li.active {
    background: #002f43;
}

.news_menu li:hover > a {
    color: #fff;
}

.news_menu li.active > a {
    color: #fff;
}

.items {
    margin-left: 30px;
}

.searchResult .items {
    margin-left: 0;
}

.searchResult .items hr {
    border: none;
    border-bottom: 1px #c0c0c0 solid;
}

.news_item {
    display: inline-block;
    width: 170px;
    background-color: #fff;
    height: 235px;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}

.news_item.program {
    width: 230px;
    height: 225px;
}

.news_item.program.parchive {
    width: 230px;
    height: 255px;
}

.news_item.team {
    text-align: center;
    width: 215px;
    height: 300px;
    position: relative;
}

.news_item.team h3 {
    color: #00354c;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.news_item.team .pos {
    color: #00354c;
    font-size: 11px;
    margin-bottom: 15px;
}

.news_item.team .more {
    color: #00354c;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 1px;

}

.news_item img {
    background: url(../images/noimage.jpg) center center;
}

.news_item a, .news_item a:hover {
    text-decoration: underline;
    color: #444;
}

.news_item .date {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news_item .img {
    min-height: 110px;
    overflow: hidden;
    width: 155px;
    text-align: center;
    margin: 5px auto;
}

.news_item.program .img {
    width: 215px;
}

.news_item.program h3 {
    font-weight: bold;
    font-size: 14px;
}

.news_item .news_anounce {
    padding: 5px;
}

.news_item:hover {
    box-shadow: 0 0px 7px #003e5a;
}

.news_item h3 {
    font-size: 12px;
    color: #003e5a;
    font-weight: normal;
}

#text {
    padding: 0 20px 20px 20px;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
}

#text .date {
    color: #444;
    font-size: 14px;
    display: block;
    margin: 5px 0 20px 0;
    font-weight: bold;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    min-width: 998px;
/*height: 155px;*/    
height: 169px;
    background: #424242;
    position: relative;
    color: #fff;
    padding-top: 10px;
}

.footer_content {
    width: 998px;
    margin: 0 auto;
    position: relative;
}

.footer_logo {
    width: 146px;
    height: 44px;
    position: absolute;
    top: 10px;
    left: 0;
}

.copyright {
    font-size: 12px;
    left: 150px;
    top: 15px;
    position: absolute;
}

.khabar_copyright {
    position: absolute;
    left: 5px;
    top: 70px;
    font-size: 12px;
}

.footer_menu {
    position: absolute;
    top: 10px;
    right: 0px;
}

.footer a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer ul {
    text-align: right;
    height: 25px;
}

.footer ul li {
    display: inline-block;
    margin-left: -4px;
    padding: 0px 4px 0;
    border-right: 1px #fff solid;
    list-style: none;
    line-height: 13px;
}

.footer ul li:last-child {
    border: none;
}

.footer ul li ul {
    display: none;
}

.live_video {
    background-color: #fff;
    width: 680px;
    border-radius: 10px;
    height: 345px;
    padding: 10px;
}

#videoplayer_content {
    border: 8px #fff solid;
    border-radius: 5px;
    height: 349px;
    margin: 0 auto 20px;
    background: #1a1a1a;
    width: 688px;
    margin: 0 auto 20px;
}

#videoplayer {
    border: 8px #fff solid;
    border-radius: 5px;
    height: 349px;
    margin: 0 auto 20px;
    width: 580px;
    background: #1a1a1a;
    position: relative;
}

#videoplayer object {
    display: inline-block;
    position: relative;
}

#videoplayer .timetable_live {
    background: #1a1a1a;
    display: inline-block;
    vertical-align: top;
    width: 10px;
    position: absolute;
    right: 295px;
    opacity: 0.9;
    top: 0;
    right: 0;
}

#videoplayer .timetable_live .timetablelist {
    height: 349px;
    width: 100%;
    overflow: hidden;
}

#videoplayer .timetable_live .timetablelist ul {
    visibility: hidden;

}

#videoplayer .timetable_live .opener {
    height: 22px;
    width: 12px;
    background: #1a1a1a;
    position: absolute;
    left: -15px;
    top: 150px;
    padding: 2px 0px 0 3px;
}

#videoplayer .timetable_live ul li {
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
    font-size: 10px;
    margin-bottom: 2px;
    padding: 2px;
}

#videoplayer .timetable_live ul li.active {
    background: #003e5a;
}

#videoplayer .timetable_live ul li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

#text.live {
    padding: 0 10px;
}

.my-cool-breadcrumbs {
    font-size: 10px;
    margin: 0 20px 20px;
}

.my-cool-breadcrumbs a {
    color: #00344c;
}

.my-cool-breadcrumbs a:hover {
    text-decoration: none;
}

/* comments*/

.comments_block {
    margin-top: -36px;
    margin-left: -2px;
    position: absolute;
}

.comments {
    background: #e6e6e7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin: 0 20px 50px 0px;
    min-height: 300px;
    width: 780px;
}

.comments form {
    padding: 20px;
}

.comments .block_onair {
    max-width: 100px;
    min-width: 100px;
    font-weight: bold;
}

#comments {
    margin: 0 0 20px 15px;
}

.comment {

    padding: 10px 0 10px 0;
}

.comment_for_border {
    border-bottom: 1px solid #ccc;
    padding: 5px 0 0 0;
}

.comment_name {
    font-weight: bold;
    color: #003e5d;
    font-size: 14px;
}

.comment_date {
    font-size: 13px;
    color: #444;
}

.comment_text {
    color: #000;
}

.comment_reply {
    color: #003e5d;
    font-weight: bold;
    font-size: 12px;
}

.textarea {
    background-color: #f0f0f0;
    border: 1px solid #c1c1c1;
    max-height: 61px;
    width: 100%;
    height: 61px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 2px;
}

.button input {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding: 6px 30px;
    background: -moz-linear-gradient(top, #003e5d 0%, #003e5d);
    background: -webkit-gradient(linear, left top, left bottom, from(#003e5d), to(#003e5d));
    border-radius: 6px;
    border: none;
    box-shadow: 0px 1px 3px rgba(128, 128, 128, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
    margin: 10px 0 0;
    float: right;
}

.empty {
    display: block;
    margin-top: 20px;
    font-style: italic;
}

/* Clear (used for horizontal thumbnails)
-------------------------------------------*/

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    float: none;
}

/* slider container */
.news_tab_items_content {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 983px;
    height: 395px;
}

/* slider container */
.partnerSlider {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 938px;
    height: 175px;
    display: inline-block;
}

/* slider */
.partnerSlider .slider {
    /* required */
    width: 100%;
    height: 100%;
}

/* slide */
.partnerSlider .slider .slide {
    float: left;
    width: 188px;
    height: 140px;
    display: block;
}

/* slider container */
.programSlider {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 992px;
    height: 160px;
}

/* slider */
.programSlider .slider {
    /* required */
    width: 100%;
    height: 100%;
}

.partnerSlider .slider .slide img {
    max-height: 80px;
    margin-top: 30px;
}

.programSlider .slider .slide .program {
    width: 230px;
    display: inline-block;
    vertical-align: top;
    height: 145px;
    margin: 7px 7px;
    position: relative;
}

/* slide */
.programSlider .slider .slide {
    /* required */
    float: left;
    width: 248px !important;
    height: 150px;
}

.programSliderC .slideSelectors {
    display: table;
    margin: 10px auto 0;
}

.programSliderC .slideSelectors li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 30px;
}

.programSliderC {
    width: 992px;
    margin: 0 auto;
    position: absolute;
    top: 125px;
    left: 25px;
}

.programm .slider .slide {
    width: 239px;
}

.programm .slider .slide a {
    margin: 0 auto;
}

.items td {
    padding: 5px 0;
}

.searchResult .items td a {
    color: #003e5a;
}

.searchResult .items td {
    line-height: 18px;
}

.rightSidebar {
    width: 190px;
    display: inline-block;
    vertical-align: top;
    margin: -3px 0 50px 0;
}

.datepicker, .datepicker-program {
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.25);
}

.datepicker .ui-datepicker-header, .datepicker-program .ui-datepicker-header {
    background: #053d56;
    border-radius: 5px 5px 0 0;
    border: 1px #414141 solid;
    height: 29px;
}

.datepicker .ui-datepicker-header .ui-datepicker-title, .datepicker-program .ui-datepicker-header .ui-datepicker-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 170px;
    text-align: center;
    margin-top: 5px;
}

.datepicker .ui-datepicker-calendar th, .datepicker-program .ui-datepicker-calendar th {
    color: #666;
    font-size: 8px;
    text-transform: uppercase;

}

.datepicker .ui-datepicker-calendar, .datepicker-program .ui-datepicker-calendar {
    border-collapse: collapse;
}

.datepicker .ui-datepicker-calendar td, .datepicker-program .ui-datepicker-calendar td {
    width: 26px;
    height: 26px;
    text-align: center;
    background: #ededed;
    border: 1px #c8c8c8 solid;
}

.datepicker .ui-datepicker-calendar th, .datepicker-program .ui-datepicker-calendar th {
    width: 26px;
    height: 16px;
    text-align: center;
    background: #ececec;
}

.datepicker .ui-datepicker-calendar thead, .datepicker-program .ui-datepicker-calendar thead {
    border: 1px #c8c8c8 solid;
    border-bottom: none;
    border-top: none;
}

.datepicker .ui-datepicker-calendar td a, .datepicker-program .ui-datepicker-calendar td a {
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

.datepicker .ui-datepicker-calendar td.ui-datepicker-today, .datepicker-program .ui-datepicker-calendar td.ui-datepicker-today {
    background: #fab300;
}

.datepicker .ui-datepicker-calendar td.ui-datepicker-today a, .datepicker-program .ui-datepicker-calendar td.ui-datepicker-today a {
    color: #003e5a;
}

.datepicker .ui-datepicker-prev span, .datepicker .ui-datepicker-next span, .datepicker-program .ui-datepicker-prev span, .datepicker-program .ui-datepicker-next span {
    display: none;
}

.datepicker .ui-datepicker-prev, .datepicker-program .ui-datepicker-prev {
    content: '';
    background: url(../images/calendar_prev.png) no-repeat left top;
    width: 8px;
    height: 8px;
    float: left;
    cursor: pointer;
    margin: 10px 0 0 10px;

}

.datepicker .ui-datepicker-next, .datepicker-program .ui-datepicker-next {
    content: '';
    background: url(../images/calendar_next.png) no-repeat left top;
    width: 8px;
    height: 8px;
    float: right;
    cursor: pointer;
    margin: 10px 10px 0 0;
}

.lastComment {
    margin-top: 20px;
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.25);
}

.lastComment .title {
    background: #053d56;
    border-radius: 5px 5px 0 0;
    height: 22px;
    padding-top: 8px;
}

.lastComment .title h2 {
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.lastComment .comments_content ul {
    padding: 0;
    margin: 0;
}

.lastComment .comments_content li {
    list-style: none;
    margin: 0 0 10px;
    line-height: 12px;

}

.lastComment .comments_content {
    padding: 5px 10px;
    background: #ededed;
}

.lastComment .comments_content li a {
    color: #00354c;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.lastComment .comments_content li a:hover {
    text-decoration: underline;
}

.timetable {
    font-size: 10px;
    padding: 10px;
}

.timetable table {
    border-collapse: collapse;
}

.timetable table th {
    border: 1px #ccc solid;
    padding: 3px;
    color: #fff;
    background: #013e58;
}

.timetable table td {
    border-top: 1px #ccc solid;
    border-left: 1px #ccc solid;
    padding: 3px;
}

.timetable table td:last-child {
    border-right: 1px #ccc solid !important;
}

.timetable table tr:last-child td {
    border-bottom: 1px #ccc solid;
}

.timetable table td.prog_no {
    border-top: none;
}

.timetable table td.time {
    text-align: center;
}

.timetable th .header_3 {
    width: 100px;
    font-size: 13px;
}

.timetable .block_header_text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.timetable .block_header_text_link {
    font-size: 12px;
    text-decoration: none;
    color: #00354c;
}

.timetable .header_2 {
    white-space: nowrap;
}

.nivo-caption p {
    text-transform: none !important;
}

.timetable .h_fon {
    margin-left: -10px;
}

.list-view .summary {
    color: #00344c;
    font-size: 12px;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
    border: none;
    color: #042333;
    font-weight: bold;
    font-size: 14px;
}

ul.yiiPager .selected a {
    background: none;
    text-decoration: underline;
}

ul.yiiPager li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 !important;
}

ul.yiiPager {
    margin: 0 23px 0 0;
}

.currency {
    background: url(../images/currency_bg.png) no-repeat left top;
    height: 201px;
    width: 371px;
    padding: 20px 0 0 90px;
    position: relative;
    top: 0px;
    text-align: justify;
}

.currency h1 {
    font-size: 18px;
    font-weight: normal;
}

.currency .rate {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    margin: 15px 0 10px;
}

.currency .rate div, .currency .rate img {
    display: inline-block;
    vertical-align: top;
}

.currency .rate img {
    width: 20px;
    margin-right: 3px;

}

.currency .rate .shift {
    text-align: center;
    width: 15px;
}

.currency .rate .shift img {
    width: 10px;
    margin-top: 2px;
    text-align: center;
    margin-right: 0;
}

.currency .rate .title, .currency .rate .rate_value {
    font-size: 10px;
    text-transform: uppercase;
    color: #4b7ac9;
    font-weight: bold;
}

.currency .rate .title {
    width: 45px;
}

.currency .rate .name {
    color: #fcb54f;
    text-transform: uppercase;
    font-size: 10px;
    width: 30px;
    font-weight: bold;
    text-align: center;
}

.currency .rate .rate_value {
    width: 40px;
    font-size: 12px;
    text-align: right;
}

.stretch {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%;
}

.news_pupular_archive {
    margin-top: 20px;
    clear: both;
}

.news_pupular_archive header {
    background: url("/themes/front/images/border_category_lines.png") repeat-x;
    height: 34px;
    padding: 8px 0 0;

}

.news_pupular_archive header h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #00354c;
    font-weight: bold;
    text-align: center;
}

.news_pupular_archive header .pages_popular, .news_pupular_archive header .pages_archive {
    display: inline-block;
    vertical-align: middle;
}

.news_pupular_archive header .pages_popular {
    text-align: justify;
}

.news_pupular_archive header .pages_archive {
    width: 230px;
}

.news_pupular_archive header .pages_popular div.next, .news_pupular_archive header .program_archive div.next {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: top;

}

.news_pupular_archive header .pages_popular div.prev, .news_pupular_archive header .program_archive div.prev {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: top;
    margin-left: 28px;

}

.news_pupular_archive header .pages_popular h2, .news_pupular_archive header .program_archive h2 {
    display: inline-block;
    width: 675px;
    vertical-align: top;
}

.news_pupular_archive .popular_content, .program_archive .popular_content {
    width: 740px;
    display: inline-block;
    margin-left: 28px;
    vertical-align: top;
    min-height: 330px;
}

.news_pupular_archive .archive_content {
    width: 230px;
    display: inline-block;
    vertical-align: top;
    min-height: 330px;
}

.news_pupular_archive .archive_content ul {
    margin: 0;
    margin-bottom: 10px;
}

.news_pupular_archive .archive_content ul li {
    list-style: none;
    line-height: 12px;
    padding: 10px;
}

.archive_content ul li .date, .comments_content .date {
    color: #666;
    font-size: 10px;
    font-weight: bold;
}

.news_pupular_archive .archive_content ul li a {
    color: #00354c;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.news_pupular_archive .archive_content ul li a:hover {
    text-decoration: underline;
}

.news_pupular_archive .archive_content ul li.odd {
    background: #ededed;
}

.news_pupular_archive .archive_content ul li.even {
    background: #dadee0;
}

.news_item.popular {
    /*width: 140px;*/
}

.news_item.popular .img {
    /*width: 130px;*/
}

/* slider container */
.popularSlider, .programArchiveSlider {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 750px;
    height: 500px;
    display: inline-block;
}

/* slider */
.popularSlider .slider, .programArchiveSlider .slider {
    /* required */
    width: 100%;
    height: 100%;
}

/* slide */
.popularSlider .slider .slide, .programArchiveSlider .slider .slide {
    /* required */
    float: left;

    width: 750px;
    height: 500px;

    display: block;
}

.archive_content .pager {
    text-align: center;
}

.textfield {
    background: url(../images/textfield.png) no-repeat left top;
    width: 190px;
    height: 30px;
    border: none;
    padding: 0 0 0 10px;
}

div.row {
    margin: 10px 0;
    width: 600px;
}

strong.auth {
    font-size: 14px;
    color: #555;
}

.auth-service {
    margin: 0 3px 0 0;
}

.auth-service .auth-link .auth-title {
    display: none !important;
}

.services {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    overflow: hidden;
}

.auth-icon {
    background: url(../images/social.png) no-repeat;
    width: 21px;
    height: 21px;
}

.auth-services .auth-service .auth-link {
    width: 21px;
}

.auth-services {
    margin: 0;
    overflow: hidden;

}

.auth-icon.vkontakte {
    background-position: 0 0;
}

.auth-icon.twitter {
    background-position: -63px 0;
}

.auth-icon.facebook {
    background-position: -42px 0;
}

.auth-icon.mailru {
    background-position: -21px 0;
}

/* timetable */

.tptimetable {
    background: url(../images/timetable_days_bg.png) repeat-x;
    height: 49px;
}

.tptimetable td {
    list-style: none;
    text-align: center;
    height: 40px;
    margin-top: -3px;
    padding: 5px 5px 0;
    width: 69px;
    border-right: 1px #ccc solid;
}

.tptimetable {
    height: 49px;
    vertical-align: middle;
}

.tptimetable td.timetable_date {
    width: 130px;
    border-right: 1px #ccc solid;
    font-weight: bold;
    color: #003d5c;
    font-size: 12px;
    margin-top: 0;
    height: 43px;
    line-height: 18px;
}

.tptimetable td.active {
    background: #fff;
}

.tptimetable .select_date {
    text-transform: none;
}

.tptimetable .getTimeTable {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.tptimetable .select_date {
    color: #003d5c;
    font-weight: normal;
    font-size: 11px;

}

.timetable_all {
    margin-top: 20px;
}

.timetable_all table {
    border-collapse: collapse;
}

.timetable_all th, .timetable_all td.time_value {
    color: #00354c;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-right: 1px #ccc solid;
    padding: 2px 5px 5px 3px;
    min-width: 60px;
    width: 60px;
}

.timetable_all th.noborder {
    border: none;
}

.timetable_all td {
    vertical-align: top;
}

.timetable_all td.time_value {
    color: #333;
    font-size: 14px;
    padding: 7px 5px;

}

.timetable_all td.timetable_title, .timetable_all td.timetable_title h2 {
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 10px;
    width: 100%;
    color: #333;
    font-weight: normal;
}

.timetable_all td.timetable_title h2 {
    padding: 0 0 7px;
}

.program_content .description .img {
    width: 140px;
    display: inline-block;
    vertical-align: top;
}

.program_content .short_text {
    text-transform: none;
    font-size: 12px;
    display: inline-block;
    width: 325px;
}

.timetable_all td.timetable_title.active {
    color: #00364c;
}

.timetable_all td.timetable_title.beforeNow {
    color: #b2b2b2;
}

.comments .errorMessage {
    font-size: 10px;
}

.slider_yellow {
    cursor: pointer;
}

.datesmall {
    text-transform: lowercase;
}

.infoBlock {
    margin-top: 20px;
    position: relative;
}

.goto_top {
    cursor: pointer;
}

.piar {
    margin-top: 20px;
}

article.sitemap ul {
    margin-left: 50px;
}

article.sitemap ul li {
    margin: 3px 20px;
}

article.sitemap a {
    text-decoration: none;
}

article.sitemap a:hover {
    text-decoration: underline;
}

.nextWeek {
    margin: 10px 10px;
    text-align: right;
    clear: both;
}

#scrollUp {
    background: url(../images/top.png) no-repeat left top;
    display: block;
    width: 38px;
    height: 38px;
    bottom: 140px;
    right: 60px;
}

.anounce_program {
    position: relative;
    height: 240px;
}

.anounce_program .anounce_text {
    background: url(../images/anounce_text_bg.png) no-repeat left top;
    width: 440px;
    height: 222px;
    position: absolute;
    right: -21px;
    top: 24px;
    padding: 33px 44px 33px 37px;
    font-size: 14px;
}

.anounce_program .anounce_text h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.anounce_program .anounce_program_data {
    background: url(../images/anounce_image_bg.png) no-repeat right top;
    width: 335px;
    height: 216px;
    position: absolute;
    top: 16px;
    left: 0;
    border-radius: 0 0 20px 0;
}

.anounce_program .anounce_program_data .img {
    height: 165px;
    width: 310px;
    overflow: hidden;
    margin-top: 14px;
    border-radius: 0 20px 0 0;
}

.anounce_program .anounce_header {
    color: #FFF;
    background: #00506e;
    border-radius: 0 20px 0 0;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    position: absolute;
    top: 0px;
}

#mainpopup {
    width: 535px;
    height: 431px;
    background: url(../images/main_popup.png) no-repeat left top;
    position: fixed;
    left: 50%;
    margin-left: -322.5px;
    top: 150px;
    z-index: 999;
    padding: 95px 55px 0 55px;
}

#blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 998;
}

#mainpopup .popup_block .lang_abbr {
    display: inline-block;
    vertical-align: top;
    width: 45px;
    font-size: 14px;
    font-weight: bold;
}

#mainpopup .popup_block .description {
    display: inline-block;
    width: 460px;
    vertical-align: top;
    border-left: 1px #00354c solid;
    padding-left: 18px;
    font-size: 14px;
    margin-bottom: 50px;
    line-height: 18px;
}

.fs18 {
    font-size: 18px;


}

.programm .slider .slide a {
    background: none !important;
    height: auto !important;
    text-decoration: none !important;
    width: auto !important;
    margin: 0;
    text-align: left;
}



.softdeco {
    margin: 10px 5px;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 90px;
}

.softdeco img {
    display: inline-block;
    vertical-align: middle;
}

.menu li a {
text-shadow: 0 1px #fff;
}
span.title {
font-family: Helvetica;
}

ul#vertical-ticker li a{
    font-family: Helvetica;
    font-size: 11px !important;
}

div.informer b {
    font-family: Helvetica;
}
.headerline {
    font-family: Helvetica;
}

/* .bigboxblock article p a { */
/* font-family: Helvetica; */
/* } */