
.wrap {
    margin: 0 auto;
    width: 980px;
}

.wrap-thin {
  margin: 0 auto;
  width: 998px;
}



.demo {
    margin-top: 45px;
}

.demo-thin {
  margin-top: 15px;
}

.demo-header {
    background-color: #333;
    border-bottom: 2px solid #777;
    display: block;
    padding: 15px 20px;
}

.demo-header a.read {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background-color: #4f4f4f;
    border: 1px solid #555;
    display: block;
    color: #ccc;
    float: right;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4px 12px;
    text-decoration: none;
}

.demo-header a.read:hover {
    background-color: #555;
    border: 1px solid #666;
    color: #fff;
}

.clear {
    clear:both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}