﻿
    body *{
    	font-family:Cambria , "Helvetica Neue",Helvetica,Arial,sans-serif;
    	padding: 0px;
    	margin: 0px;
    }

	.wrapper{
		margin:0 auto;
		width: 975px;
		border: 1px solid transparent;
	}
	
	#header1{
		height: 37px;
		width: 100%;
		background-color: #00354C;
	}

	#menu{
		list-style: none;
		float: right;
		margin-top: 25px;

	}

	#menu li{
		float:left;
		padding-left:20px;
		border: 1px solid #00354C;
		margin-top:-18px;
		color: #fff;
	}

	#menu li a {
		padding-top:10px;
		color: #ffffff;
		text-decoration: none;
		font: normal 13px/25px "DINCondensedWeb", Arial, Helmet, Freesans, sans-serif;
		font-weight: bolder;
	}

	#menu li a:hover {
		text-decoration: underline;
	}


	#menu_part{
		height: 16px;
		padding-top:0px;
		margin-top:0px;
		display: none;
		background-color: #00354C;
		width: 100%;
	}

	#menu_part_items
	{

	}

	#menu_part ul{
		margin-top:-15px; 
		list-style: none;
		float: right;
		margin-right: 100px;
	}

	#menu_part ul li{
		float: left;
		margin-left: 20px;

	}

	#menu_part ul li a{
		text-decoration: none;
		color: white;
		font: normal 13px/25px "DINCondensedWeb", Arial, Helmet, Freesans, sans-serif;
		font-weight: bolder;
	}

	#menu_part ul li a:hover{
		text-decoration: underline;
	}

	.flag{
		width: 10px;
	}

	#logo1{
		float:left;
	}

	#logo1 img{
		width: 180px;
		height:auto;
	}

	#search{
		background-color:#E4E4E4;
		padding: 2px;
	}

	#bg_top{
		width: 100%;
		/*background:url('/upload/bg_top.png') no-repeat ;*/
		height: 328px;
    	-moz-background-size: 100%; /* Firefox 3.6+ */
    	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    	-o-background-size: 100%; /* Opera 9.6+ */
    	background-size: 100%;
	}

	#content{
		min-height: 500px;
	}

/* --------------------------------- informer ----------------------------------------*/
	#informer{
		width: 975px;
		height: 200px;
		background-color: #0F5474;
		font-size: 24px;
		color: #ffffff;
		font-weight: bold;
		z-index: 1000000;
	}

	#informer a{
		color: white;
		text-decoration: none;
	}

	#informer a:hover{
		text-decoration: underline;
	}

	.informer_item{
		width: 100px;
	}

	#informer_icon{
		width: 100px;
		margin: 0px auto;
	}

	.informer_curr_time{
		font-weight: normal;
		font-size:18px;
	}

	#informer img{
		margin-top: 20px;
	}
	
	.day_temperature{
		font-weight: normal;
		font-size: 20px;
	}

	.informer_date{
		font-weight: normal;
		font-size: 14px;
	}
	/*------------------------------------end informer-----------------------------------------------*/

	#summary{
		width: 625px;
		height: 105px;
		background-color: #B0CF00;
	}

	/*-----------------------------------MAP-----------------------------------------------------*/
	#map{
		font-size: 12px;
		width: 625px; 
		height: 373px;
		float: left;
		margin-top: 90px;

		background: url('/upload/map.png');
	}

	#map a{
		text-decoration: none;
		color: #0F5474;
	}

	#map a:hover{
		text-decoration: underline;
		
	}

	.temp_indicator{
		border:1px solid red;
		width: 20px;
		height: 20px;
	}

/*----------------------------------------FOOTER-------------------------------------------------------*/
	#footer{
		height: 100px;
		width: 100%;
		margin-top: 0px;
	}

	#footer_content{
		padding-top: 15px;
		border-top:1px solid #4c4c4c;

	}
	.clear{
		clear: both;
		height: 0px;
	}

	#footer_menu{
		font-size: 14px;
		float: right;
		list-style: none;
	}

	

	#footer_menu li{
		float: left;
		padding-left:20px;
	}

	.align_center{
		display:inline-block;
		margin: 0px auto;
	}

	#footer_menu a{
		text-decoration: none;
		color: gray;
	}

	#footer_menu a:hover{
		text-decoration: underline;
	}

	

	#footer_logo{
		width: 120px;
		float: left;
	}

	#copyright
	{
		float: left;
		margin-left:10px;
		font-size: 12px;
	}

	#footer_menu{
		margin-top: 0px;
		padding: 0px;
		padding-right: 0px;

	}

	#footer_menu li{

		float: left;
		padding-left: 5px;
	}

	
	#copyright_text
	{
		font-size: 12px;
	}

	#footer_left_part
	{
		
		width: 500px;
	}

	#footer_right_part{
		width:460px;
		height: 70px;
		float:right;
	}

/*------------------------------------------------COMMON-------------------------------------------------------------*/
	
	.border{
		border:1px solid red;
	}

	.clear{
		clear: both;
		height: 0px;
		width: 0px;
	}


	/*--------------------------------------------------Section Video--------------------------------------------------------------*/

	.video_section_title
	{
		margin: 5px 0px 5px 0px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: #00354C;
	}

	#video_section{
		float:right;
		margin-top: 90px;
		margin-bottom: 10px;
		width:320px;
		height: 373px;
	}

.section_title{
	color:#ffffff;
	font-size: 24px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 20px;
}
