.registration_form {
    width: 700px;
    margin: 0 auto;
}

.registration_form h1 {
    color: #1556A8;
    font-weight: bold;
    font-size: 15pt;
    margin-left: 10px;
    padding: 0 0 15px 0;
}

.registration_form table tr td {
    font-size: 14px;
    font-weight: bold;
    color: #1556A8;
    padding: 0 15px 15px 0;

}

.registration_form table tr td:nth-child(1) {
    text-align: right;
}

.registration_form hr {
    height: 1px;
    background: #ddd;
    border: none;
}

.registration_form table tr td input[type="radio"] {
    margin: 10px;
}

.field {
    border: none;
    height: 30px;
    background: url(../images/sprite_header.png) no-repeat 0px -140px;
    width: 218px;
    padding-left: 5px;
}

.personal_cabinet h1 {
    color: #1556A8;
    font-weight: bold;
    font-size: 15pt;
    padding: 0 0 15px 0;
}

.personal_cabinet hr {
    width: 650px;
    border: 1px dashed #cccccc !important;
}

.my_block {
    background: url(../images/bgbg.png) no-repeat;
    margin: 25px 0 0 0;
    width: 650px;
    padding: 20px;
}

.my_block h2 {
    color: #1556A8;
    font-weight: bold;
    font-size: 13pt;
    padding: 0 0 7px 0;
}

.my_block hr {
    border: none !important;
    height: 1px;
    background: #b1c6e0;
    width: 610px;
}

.my_block ul li {
    padding: 0 0 15px 0;
    color: #1556a8;
}

.my_block ul li a {
    color: #1556a8;
    font-size: 14px;
}

.my_widget {
    float: right;
    background: url("../images/widget_bg.png") no-repeat;
    width: 300px;
    height: 240px;
}

.my_widget .title {
    height: 14px;
    background: url(../images/menu_bg.png);
    padding: 15px;
    margin: 0 8px;
    width: 252px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.my_widget ul {
    margin: 20px 40px;
}

.my_block ul {
    margin: 0 40px;
}

.my_widget ul li {
    list-style: none;
}

.my_widget ul li a {
    text-decoration: none;
    color: #1556a8;
    font-size: 14px;
}

.my_widget .count {
    margin: 8px 0 0 40px;
    color: #1556a8;
    font-size: 14px;
}

.my_widget ul li a:hover {
    text-decoration: underline;
}

.my_widget h2 {
    color: #1556A8;
    font-weight: bold;
    font-size: 13pt;
    padding: 10px 0;
    text-align: center;
}

.password_restore {
    padding: 25px;
}

.password_restore table tr td {
    padding: 0 0 15px 0;
    text-align: left;
}

.password_restore table tr td input {
    margin-right: 15px;
}

.password_restore table {
    width: 450px;
}

.cart table:first-child {
    background: url("../images/shop_header.png") no-repeat;
}

.cart table tr:first-child {
    height: 50px;
    color: #fff;
}

.cart table tr th {
    padding: 10px 15px;
    vertical-align: top;
}

.cart table tr td {
    padding: 20px 15px 15px 20px;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;

}

.cart table tr td span {
    color: #1556a8;
    font-weight: bold;
    font-size: 14px;
}

.item_image {
    float: left;
    background: url("../images/item_shadow.png") no-repeat center bottom;
    margin: 0 15px 0 0;
    display: inline-block;
}

.item_image h5 {
    position: absolute;
    width: 115px;
    font-size: 12px;
    text-align: center;
    margin-top: 42px;

}

.item_desc {
    width: 435px;
    display: inline-block;
}

.item_desc h4 {
    color: #1556a8;

}

.cart table {
    width: 100%;
}

.my_widget .data {
    margin: 0 auto;
    width: 250px;
}